@import "../../styles/variables.scss";

.search {
  color: $primary_color;
  width: 500px;
  height: 500px;
  margin: 0 15px;
  @include FlexBox(column, flex-start);
}

@media (max-width: 530px) {
  .search {
    width: calc(100% - 30px);
  }
}
